/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.card-title{
    color: blue;
    font-weight: bold;
}

label, th{
    text-transform: capitalize;
    color: rgb(0, 110, 255); 
}

